@if (Request.IsAuthenticated) {
    <li class="right">
        <li class="right"><a href="/Account/Manage"><img src="/Content/Images/Account2.png" /></a></li>
    </li>
} else {
        <li class="right"><a href="/Account/Login" id="loginLink"><img src="/Content/Images/Login2.png" /></a></li>
}
