@model IEnumerable<Ironman.Models.Plugins.Plugin>

@{
    ViewBag.Title = "Installed Plugins";
}
<form action="/Admin/Plugins" method="post">
    <h1>Available Plugins</h1>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    
    @foreach (Ironman.Models.Plugins.Plugin item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" name="@item.PluginID" id="@item.PluginID" />
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
        </tr>
    }
    
    </table>
    <input type="submit" onclick="form.action='/Admin/UpdatePlugins'" value="Update Plugins" />
    <input type="submit" onclick="form.action = '/Admin/UninstallPlugins'" value="Uninstall Plugins" />
</form>