@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="content-wrapper">
        <div class="ten columns">
            <div class="content" id="ProjectsList">
                <hgroup class="title">
                    <h3>Current Projects</h3>
                </hgroup>
                <ol class="round" data-bind="visible: toggle, foreach: projects">
                    <li data-bind="html: Text">
                    </li>
                </ol>
            </div>
        </div>
    </section>
}
<div class="six columns">
    <div class="content" id="newCompaniesAndPeople">
        <hgroup class="title">
            <h3>New Companies and Contacts</h3>
        </hgroup>
        <ol class="round" data-bind="visible: toggle, foreach: newCompaniesAndPeople">
            <li data-bind="html: Text">
            </li>
        </ol>
    </div>
    <div class="content" id="recentUpdates">
        <hgroup class="title">
            <h3>Recent Updates</h3>
        </hgroup>
        <ul data-bind="visible: toggle, foreach: recentUpdates">
            <li data-bind="html: Text">
            </li>
        </ul>
    </div>
</div>
<div class="four columns">
    <div class="content" id="activities">
        <hgroup class="title">
            <h3>Activities</h3>
        </hgroup>
        <ul data-bind="visible: toggle, foreach: upcomingActivities">
            <li data-bind="html: Text">
            </li>
        </ul>
    </div>
</div>

@*<div class="Popup" id="newPerson">
    <label for="prefix">Prefix</label><input id="prefix" name="prefix" /><br />
    <label for="firstName">First Name</label><input id="firstName" name="firstName" /><br />
    <label for="middleName">Middle Name</label><input id="middleName" name="middleName" /><br />
    <label for="lastName">Last Name</label><input id="lastName" name="lastName" /><br />
    <label for="suffix">Suffix</label><input id="suffix" name="suffix" /><br />
</div>*@