* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    color: #333333;
    background-color: #5A93C9;
    font: 14px/21px Helvetica, arial, freesans, clean, sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-variant: small-caps;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: #1D5183 1px solid;
}

    table tr th {
        padding: 12px 17px;
    }

    table tr td {
        padding: 7px 17px;
    }

    table thead {
        text-align: left;
        background: #EEE;
        font-weight: bold;
    }

p {
    margin-bottom: 21px;
}

img {
    vertical-align: middle;
}

a {
    color: #5A93C9;
    text-decoration: none;
    font-weight: bold;
}

    a:hover {
        text-decoration: underline;
    }

button {
    background: #f3f3f3;
    border: #D5D5D5 1px solid;
    outline: none;
    margin: 0 20px 10px 0;
    padding: 5px;
    min-width: 75px;
}

    button:focus {
        border: #5A93C9 1px solid;
    }

    button:active {
        background: #5A93C9;
        color: #f3f3f3;
        border: #3871A7 1px solid;
    }

input {
    border: none;
    outline: none;
}